.grid-container-cart {
    margin:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    row-gap: 3rem;
    column-gap: 3rem;
}
.product-header-container-cart {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 35, 35);
}
.product-header-container-cart h2 {
    color:#fff;
    padding: 13px 15px;
    font-size: 2rem;
}